In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df=pd.read_csv("Melbourne_housing_FULL.csv")

C:\Users\vivek\AppData\Local\Temp\ipykernel_27328\3360292122.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Melbourne_housing_FULL.csv")

In [3]:
df.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,03-09-2016,2.5,3067.0,2.0,...,126.0,inf,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,Carport,NaN
1,Airport West,154 Halsey Rd,3,t,PI,Nelson,03-09-2016,13.5,3042.0,3.0,...,303.0,225,2016.0,Moonee Valley City Council,-37.7180,144.8780,Western Metropolitan,3464.0,Detached Garage,840000.0
2,Albert Park,105 Kerferd Rd,2,h,S,hockingstuart,03-09-2016,3.3,3206.0,2.0,...,120.0,82,1900.0,Port Phillip City Council,-37.8459,144.9555,Southern Metropolitan,3280.0,Attached Garage,1275000.0
3,Albert Park,85 Richardson St,2,h,S,Thomson,03-09-2016,3.3,3206.0,2.0,...,159.0,inf,NaN,Port Phillip City Council,-37.8450,144.9538,Southern Metropolitan,3280.0,Indoor,1455000.0
4,Alphington,30 Austin St,3,h,SN,McGrath,03-09-2016,6.4,3078.0,3.0,...,174.0,122,2003.0,Darebin City Council,-37.7818,145.0198,Northern Metropolitan,2211.0,Parkade,NaN

In [4]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom             15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       994
YearBuilt          160
CouncilArea         33
Latitude         13402
Longtitude       14524
Regionname           8
Propertycount      342
ParkingArea          8
Price             2871
dtype: int64

In [5]:
df.shape

(34857, 22)

In [6]:
col=["Suburb", "Rooms", "Type", "Method", "SellerG", "Regionname", "Propertycount", "Distance", "CouncilArea", "Bedroom", "Bathroom", "Car", "Landsize", "Price"]

In [7]:
df=df[col]
df.shape

(34857, 15)

In [8]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           0
Propertycount        3
Distance             1
CouncilArea          3
Bedroom           8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21097
Price             7610
dtype: int64

In [9]:
fill_with_zero=["Propertycount", "Distance", "Bedroom", "Bathroom", "Car"]
df[fill_with_zero]=df[fill_with_zero].fillna(0)

In [10]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          3
Bedroom              0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21097
Price             7610
dtype: int64

In [17]:
df["Landsize"]=df["Landsize"].fillna(df.Landsize.mean())

In [19]:
df.dropna(inplace=True)
df.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom,Bathroom,Car,Landsize,BuildingArea,Price
1,Airport West,3,t,PI,Nelson,Western Metropolitan,3464.0,13.5,Moonee Valley City Council,3.0,2.0,1.0,303.0,225,840000.0
2,Albert Park,2,h,S,hockingstuart,Southern Metropolitan,3280.0,3.3,Port Phillip City Council,2.0,1.0,0.0,120.0,82,1275000.0
3,Albert Park,2,h,S,Thomson,Southern Metropolitan,3280.0,3.3,Port Phillip City Council,2.0,1.0,0.0,159.0,inf,1455000.0
5,Alphington,4,h,S,Brace,Northern Metropolitan,2211.0,6.4,Darebin City Council,3.0,2.0,4.0,853.0,263,2000000.0
6,Alphington,3,h,S,Jellis,Northern Metropolitan,2211.0,6.4,Darebin City Council,3.0,2.0,2.0,208.0,inf,1110000.0

In [20]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom          0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [22]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Propertycount,Distance,Bedroom,Bathroom,Car,Landsize,Price,Suburb_Aberfeldie,Suburb_Airport West,...,BuildingArea_958,BuildingArea_96,BuildingArea_97,BuildingArea_98,BuildingArea_98.5,BuildingArea_99,BuildingArea_99.5,BuildingArea_999,BuildingArea_inf,BuildingArea_missing
1,3,3464.0,13.5,3.0,2.0,1.0,303.0,840000.0,False,True,...,False,False,False,False,False,False,False,False,False,False
2,2,3280.0,3.3,2.0,1.0,0.0,120.0,1275000.0,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2,3280.0,3.3,2.0,1.0,0.0,159.0,1455000.0,False,False,...,False,False,False,False,False,False,False,False,True,False
5,4,2211.0,6.4,3.0,2.0,4.0,853.0,2000000.0,False,False,...,False,False,False,False,False,False,False,False,False,False
6,3,2211.0,6.4,3.0,2.0,2.0,208.0,1110000.0,False,False,...,False,False,False,False,False,False,False,False,True,False

In [23]:
X=df.drop("Price",axis=1)
Y=df["Price"]

In [25]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.3,random_state=2)

In [28]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(xtrain,ytrain)

In [30]:
reg.score(xtest,ytest)

0.6447541634945901

In [31]:
reg.score(xtrain,ytrain)

0.8180012217116424

# we use skleran's LASO regression