# imporing the libraries and dataset

In [1]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import plotly.graph_objs as go
import plotly.express as xp

In [2]:
modi = pd.read_csv("modi_reviews.csv")
rahul = pd.read_csv("rahul_reviews.csv")

In [3]:
modi.head()

   Unnamed: 0  ...                                              Tweet
0           0  ...  @anjanaomkashyap I am seeing you as future #bj...
1           1  ...  #LokSabhaElections2019 \n23rd May 2019 will re...
2           2  ...  #LokSabhaElections2019 \n23rd May 2019 will re...
3           3  ...  PM Modi creates a new record of being the only...
4           4  ...  @abhijitmajumder Appointment of Successor! \n\...

[5 rows x 3 columns]

In [4]:
rahul.head()

   Unnamed: 0  ...                                              Tweet
0           0  ...  Wonder why no academic or journalist asks INC ...
1           1  ...  Congrats for the change #australiavotes2019 an...
2           2  ...  Peopel Say ‚ÄúGovt Ne 70 Years Kya kiya‚Äù.\nUnse ...
3           3  ...  @ajaymaken @RahulGandhi And as a final touch, ...
4           4  ...  #LokSabhaElections2019 Anyone not having mass ...

[5 rows x 3 columns]

In [5]:
modi.shape

(25688, 3)

In [6]:
rahul.shape

(14261, 3)

# Analysig the data

In [12]:
print(modi["Tweet"][0])

@anjanaomkashyap I am seeing you as future #bjp spokesperson..
Good luck. Anjana Om Modi oops Kashyap.
Journalists like you changed the meaning of journalism. Janta maaf nai karege

In [13]:
TextBlob(modi["Tweet"][0]).sentiment

Sentiment(polarity=0.35, subjectivity=0.36250000000000004)

In [20]:
for i in range(5):
    print(f"Text content : \n {modi['Tweet'][i]}")
    print(f"Sentiment : \n {TextBlob(modi['Tweet'][i]).sentiment}")
    print("\n")

Text content :
 @anjanaomkashyap I am seeing you as future #bjp spokesperson..
Good luck. Anjana Om Modi oops Kashyap.
Journalists like you changed the meaning of journalism. Janta maaf nai karege
Sentiment :
 Sentiment(polarity=0.35, subjectivity=0.36250000000000004)


Text content :
 #LokSabhaElections2019
23rd May 2019 will reveal ..
Even ECISVEEP could not help Modi Win ü§î

Janatab Mann Banaata Hai to
Chupke Se Be Jor Se Tappad Deta Hai ..
Sentiment :
 Sentiment(polarity=0.8, subjectivity=0.4)


Text content :
 #LokSabhaElections2019
23rd May 2019 will reveal ..
Even @ECISVEEP could not help Modi Win ü§î

Janatab Mann Banaata Hai to
Chupke Se Be Jor Se Tappad Deta Hai ..
Sentiment :
 Sentiment(polarity=0.8, subjectivity=0.4)


Text content :
 PM Modi creates a new record of being the only PM of a democratic country.
Congratulations our pm welcome to the Heart of India again üôèüôèüôèüôèüôèüôèüôè .#Elections2019 #PMModi #DeshKaGauravModi #2020Election #BJP #India
Sentiment :
 Sentiment(polarity=0.31212121212121213, subjectivity=0.7848484848484848)


Text content :
 @abhijitmajumder Appointment of Successor!

God forbid if we allow BJP to stoop so low. That will be end of #RSS ideological high ground

Post this election results #BJP will have new president and things will move on.

As per bar set within party Modi should not contest LS 2024 @74years age
Sentiment :
 Sentiment(polarity=0.0987878787878788, subjectivity=0.43151515151515146)

In [21]:
# function to find the polarity for the given review
def find_polarity(review):
    return TextBlob(review).sentiment

In [22]:
print(find_polarity(modi["Tweet"][0]))

Sentiment(polarity=0.35, subjectivity=0.36250000000000004)

In [23]:
# applying the given function to all the tweets
modi["Tweet"].apply(find_polarity)

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'float'>

## the reason for the above error is that the tweet data is object type not text type

In [25]:
modi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25688 entries, 0 to 25687
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25688 non-null  int64
 1   User        25683 non-null  object
 2   Tweet       25683 non-null  object
dtypes: int64(1), object(2)
memory usage: 602.2+ KB

## converting the