# imporing the libraries and dataset

In [21]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import plotly.graph_objs as go
import plotly.express as xp

In [22]:
modi = pd.read_csv("modi_reviews.csv")
rahul = pd.read_csv("rahul_reviews.csv")

In [23]:
modi.head()

,Unnamed: 0,User,Tweet
0,0,advosushildixit,@anjanaomkashyap I am seeing you as future #bj...
1,1,jiaeur,#LokSabhaElections2019 \n23rd May 2019 will re...
2,2,PVenkatGandhi,#LokSabhaElections2019 \n23rd May 2019 will re...
3,3,TheNirbhay1,PM Modi creates a new record of being the only...
4,4,ShakeChilli,@abhijitmajumder Appointment of Successor! \n\...

In [24]:
rahul.head()

,Unnamed: 0,User,Tweet
0,0,Sunnysweet16,Wonder why no academic or journalist asks INC ...
1,1,drnitinchaube,Congrats for the change #australiavotes2019 an...
2,2,mrvivek07,Peopel Say ‚ÄúGovt Ne 70 Years Kya kiya‚Äù.\nUnse ...
3,3,JosephPravinP,"@ajaymaken @RahulGandhi And as a final touch, ..."
4,4,VandanaMegastar,#LokSabhaElections2019 Anyone not having mass ...

In [25]:
modi.shape

(25688, 3)

In [26]:
rahul.shape

(14261, 3)

# Analysig the data

In [27]:
print(modi["Tweet"][0])

@anjanaomkashyap I am seeing you as future #bjp spokesperson..
Good luck. Anjana Om Modi oops Kashyap.
Journalists like you changed the meaning of journalism. Janta maaf nai karege

In [28]:
TextBlob(modi["Tweet"][0]).sentiment

Sentiment(polarity=0.35, subjectivity=0.36250000000000004)

In [29]:
for i in range(5):
    print(f"Text content : \n {modi['Tweet'][i]}")
    print(f"Sentiment : \n {TextBlob(modi['Tweet'][i]).sentiment}")
    print("\n")

Text content :
 @anjanaomkashyap I am seeing you as future #bjp spokesperson..
Good luck. Anjana Om Modi oops Kashyap.
Journalists like you changed the meaning of journalism. Janta maaf nai karege
Sentiment :
 Sentiment(polarity=0.35, subjectivity=0.36250000000000004)


Text content :
 #LokSabhaElections2019
23rd May 2019 will reveal ..
Even ECISVEEP could not help Modi Win ü§î

Janatab Mann Banaata Hai to
Chupke Se Be Jor Se Tappad Deta Hai ..
Sentiment :
 Sentiment(polarity=0.8, subjectivity=0.4)


Text content :
 #LokSabhaElections2019
23rd May 2019 will reveal ..
Even @ECISVEEP could not help Modi Win ü§î

Janatab Mann Banaata Hai to
Chupke Se Be Jor Se Tappad Deta Hai ..
Sentiment :
 Sentiment(polarity=0.8, subjectivity=0.4)


Text content :
 PM Modi creates a new record of being the only PM of a democratic country.
Congratulations our pm welcome to the Heart of India again üôèüôèüôèüôèüôèüôèüôè .#Elections2019 #PMModi #DeshKaGauravModi #2020Election #BJP #India
Sentiment :
 Sentiment(polarity=0.31212121212121213, subjectivity=0.7848484848484848)


Text content :
 @abhijitmajumder Appointment of Successor!

God forbid if we allow BJP to stoop so low. That will be end of #RSS ideological high ground

Post this election results #BJP will have new president and things will move on.

As per bar set within party Modi should not contest LS 2024 @74years age
Sentiment :
 Sentiment(polarity=0.0987878787878788, subjectivity=0.43151515151515146)

In [40]:
# function to find the polarity for the given review
def find_polarity(review):
    return TextBlob(review).sentiment.polarity

In [41]:
print(find_polarity(modi["Tweet"][0]))

0.35

In [42]:
# applying the given function to all the tweets
modi["Tweet"].apply(find_polarity)

0        0.350000
1        0.800000
2        0.800000
3        0.312121
4        0.098788
           ...
25683    0.000000
25684    0.209524
25685   -0.700000
25686    0.000000
25687   -0.213542
Name: Tweet, Length: 25688, dtype: float64

## the reason for the above error is that the tweet data is object type not text type

In [43]:
modi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25688 entries, 0 to 25687
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25688 non-null  int64
 1   User        25683 non-null  object
 2   Tweet       25688 non-null  object
 3   Polarity    25688 non-null  object
dtypes: int64(1), object(3)
memory usage: 802.9+ KB

## converting the tweet to string formate and reapply the same thing

In [44]:
modi["Tweet"].astype(str)

0        @anjanaomkashyap I am seeing you as future #bj...
1        #LokSabhaElections2019 \n23rd May 2019 will re...
2        #LokSabhaElections2019 \n23rd May 2019 will re...
3        PM Modi creates a new record of being the only...
4        @abhijitmajumder Appointment of Successor! \n\...
                               ...
25683    #1DDrive #ModiSpeaksToNews18 #LokSabhaElection...
25684    I am seriously worried about future of Indian ...
25685    If @narendramodi is so Bad then Why does @INCI...
25686    On this 23rd March (Pakistan Day), I Urge all ...
25687    @timesofindia #ArvindKejriwal, #AAP sirji pls ...
Name: Tweet, Length: 25688, dtype: object

In [45]:
modi["Tweet"] = modi["Tweet"].astype(str)

In [46]:
# applying the given function to all the tweets, this time tweets is of type str
modi["Polarity"] = modi["Tweet"].apply(find_polarity)

In [47]:
modi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25688 entries, 0 to 25687
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  25688 non-null  int64
 1   User        25683 non-null  object
 2   Tweet       25688 non-null  object
 3   Polarity    25688 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 802.9+ KB

In [48]:
rahul["Tweet"].astype(str)
rahul["Polarity"] = rahul["Tweet"].apply(find_polarity)

In [49]:
rahul.head()

,Unnamed: 0,User,Tweet,Polarity
0,0,Sunnysweet16,Wonder why no academic or journalist asks INC ...,0.218750
1,1,drnitinchaube,Congrats for the change #australiavotes2019 an...,0.000000
2,2,mrvivek07,Peopel Say ‚ÄúGovt Ne 70 Years Kya kiya‚Äù.\nUnse ...,0.000000
3,3,JosephPravinP,"@ajaymaken @RahulGandhi And as a final touch, ...",0.320000
4,4,VandanaMegastar,#LokSabhaElections2019 Anyone not having mass ...,-0.166667

In [50]:
modi.head()

,Unnamed: 0,User,Tweet,Polarity
0,0,advosushildixit,@anjanaomkashyap I am seeing you as future #bj...,0.350000
1,1,jiaeur,#LokSabhaElections2019 \n23rd May 2019 will re...,0.800000
2,2,PVenkatGandhi,#LokSabhaElections2019 \n23rd May 2019 will re...,0.800000
3,3,TheNirbhay1,PM Modi creates a new record of being the only...,0.312121
4,4,ShakeChilli,@abhijitmajumder Appointment of Successor! \n\...,0.098788

In [ ]:
np.where(modi["Polarity"] > 0)