In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
data = pd.read_csv("USA_Housing.csv")

data.drop("Address", axis=1, inplace=True)
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05

In [ ]:


train, test = train_test_split(data)

train_x =train.drop(["Price"], axis = 1)
test_x = test.drop(["Price"], axis = 1)
train_y = train(["Price"])
test_y=test(["Price"])