# reading the data

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as cp
from textblob import TextBlob

In [3]:
trump = pd.read_csv("Trumpall2.csv")
biden = pd.read_csv("Bidenall2.csv")

In [4]:
trump.head()

              user                                               text
0      manny_rosen   @sanofi please tell us how many shares the Cr...
1        osi_abdul   https://t.co/atM98CpqF7  Like, comment, RT #P...
2          Patsyrw   Your AG Barr is as useless &amp; corrupt as y...
3  seyedebrahimi_m   Mr. Trump! Wake Up!  Most of the comments bel...
4    James09254677   After 4 years you think you would have figure...

In [ ]:
biden.head()